@model List<Kategori>
<div class="list-group">
     <a asp-action="Index" asp-controller="Home" asp-route-kategoriId="Id" class="list-group-item list-group-item-action
@(ViewBag.KategoriId==null?"active":"")">Tüm Kategoriler</a>
    @foreach (var x in Model)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-kategoriId="@x.Id" class="list-group-item list-group-item-action
@(ViewBag.KategoriId?.ToString()==x.Id.ToString()?"active":"")">@x.Ad</a>
    }
</div>