

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">@ViewBag.Code</h1>
        <p class="fs-3"> <span class="text-danger">Üzgünüm!</span>Uygulama Bir Hata İle Karşılaştı.</p>
        <p class="lead">
            Teknik Ekibimiz Bilgilendirildi. Sorun En Kısa Zamanda Fixlenecek.
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">AnaSayfaya Dön</a>
    </div>
</div>