
<div>
    <div class="card">
        <div class="card-header">
            Yine Bekleriz:)
        </div>
        <div class="card-body">
            <h5 class="card-title">@ViewBag.Fiyat - TL</h5>
            <p class="card-text">Tutarındaki Satın Alma İşleminiz Başarı ile Gerçekleşti. Bizi Tercih Ettiginiz için Teşekkür Ederiz.</p>
            <a asp-action="Index" asp-controller="Home" class="btn btn-success">Geri Dön</a>
        </div>
    </div>
</div>